@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

body {
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #000;
    overflow-x: hidden;
    font-size: 18px
}

main {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 90;
    min-height: 93vh
}

.ancla::before {
    display: flex;
    content: " ";
    visibility: hidden
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

p {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%
}

.flexcontent {
    width: 70%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.txtorange {
    color: #ff5000!important
}

.txtgray {
    color: #585859!important
}

.txt2 {
    font-size: 36px
}

.seccionactual {
    color: white;
    font-size: 1rem;
    width: 350px;
    margin-left: 30px
}

.seccionactual a {
    color: white
}

.titulomobile {
    display: none
}

#header.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .5);
    transition: background 1s ease
}

#header.fixed.drawer-list {
    width: 40vw
}

header {
    width: 100%;
    height: 70px;
    padding: 1rem 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent
}

.contenedor {
    display: inline-flex;
    flex-direction: row!important;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%
}

#logotipo {
    width: 50px;
    height: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center
}

#logotipo img {
    width: 100%
}

.b-a,
.bar,
.bar:before,
.bar:after {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background: white
}

.menu-collapsed {
    transition: all .25s ease-in-out;
    position: absolute;
    top: 25px;
    right: 20rem;
    height: 50px;
    width: 50px;
    z-index: 100;
    cursor: pointer;
    background: rgba(0, 0, 0, .3);
    border-radius: 8px
}

.menu-collapsed nav {
    height: 100%
}

.menu-collapsed nav>.menu {
    transition: all 0s;
    position: relative;
    right: -9000px;
    overflow: hidden
}

.menu-collapsed nav>.menu>li {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0s ease-in-out
}

.menu-collapsed a {
    transition: all .15s;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    padding: 5px;
    color: #585859;
    display: block;
    padding-left: 2rem;
    opacity: 1
}

.bar {
    position: absolute;
    margin: auto;
    top: 23px;
    left: 0;
    right: 0
}

.bar:before {
    top: -8px
}

.bar:after {
    top: 8px
}

.b-a-expanded,
.menu-expanded .bar:before,
.menu-expanded .bar:after {
    transition: all .25s;
    top: 0;
    background: #585859
}

.menu-expanded {
    transition: all .25s ease-in-out;
    text-align: left;
    height: 100vh;
    width: 40vw;
    border-radius: 0;
    top: 0;
    right: 0;
    background: white
}

.menu-expanded nav>.menu {
    transition: all 0s;
    position: relative;
    right: 0;
    z-index: 120;
    padding-top: 150px
}

.menu-expanded nav>.menu>li {
    -webkit-animation: blurFadeIn 1s ease-in 12s backwards;
    -moz-animation: blurFadeIn 1s ease-in 12s backwards;
    -ms-animation: blurFadeIn 1s ease-in 12s backwards;
    animation: blurFadeIn 1s ease-in 12s backwards;
    transform: translateX(0%);
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s
}

.menu-expanded nav>.menu>li:nth-child(2) {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    animation-delay: .5s
}

.menu-expanded nav>.menu>li:nth-child(3) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s
}

.menu-expanded nav>.menu>li:nth-child(4) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.menu-expanded nav>.menu>li:nth-child(5) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s
}

.menu-expanded nav>.menu>li:nth-child(6) {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    animation-delay: 2.5s
}

.menu-expanded nav>.menu>li:nth-child(7) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s
}

.menu-expanded a {
    transition: all .15s;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    padding: 5px;
    color: #585859;
    display: block;
    padding-left: 5.5rem;
    opacity: 1
}

.menu-expanded a:hover {
    transition: all .15s;
    letter-spacing: 2px;
    color: #ff5000
}

.menu-expanded .bar {
    background-color: transparent;
    transition: all .25s;
    top: 6rem;
    left: 5rem
}

.menu-expanded .bar:before {
    transform: rotate(45deg)
}

.menu-expanded .bar:after {
    transform: rotate(-45deg)
}

.row {
    padding-top: 150px
}

.overlay {
    width: 100%;
    display: none
}

.overlay.active {
    width: 100%;
    position: fixed;
    display: block;
    background: rgba(0, 0, 0, .55);
    height: 100vh;
    top: 0;
    z-index: 90;
    left: 0
}

.menu-collapsed .datoscontacto {
    opacity: 0;
    z-index: 0
}

.menu-expanded .datoscontacto {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 2rem 0;
    opacity: 1
}

.menu-expanded .datoscontacto a {
    padding: 0 15px!important;
    font-weight: 400!important;
    margin: 3px 0
}

.menu-expanded .datoscontacto a.telefono {
    color: #ff5000;
    transition: all 1s ease;
    font-weight: 400!important
}

.menu-expanded .datoscontacto a.telefono:hover {
    font-weight: 700!important;
    transition: all 1s ease
}

.menu-expanded .datoscontacto p {
    padding: 0 15px
}

.menu-expanded .social {
    display: inline-flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 25px;
    margin: 0!important;
    padding: 15px 0;
    transition: none!important
}

.menu-expanded .social .redes a img {
    height: 100%;
    width: auto;
    text-align: center;
    margin: 0 auto
}

.menu-expanded .social .redes {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-left: 0
}

a#facebook:hover {
    opacity: .6
}

a#instagram:hover {
    opacity: .6
}

a#linkedin:hover {
    opacity: .6
}

a#vimeo:hover {
    opacity: .6
}

#main {
    width: 100%;
    padding: 0
}

.content-asset p {
    margin: 0 auto
}

.breadcrumb {
    display: none
}

.margin-top-10 {
    padding-top: 10px
}

.margin-bot-10 {
    padding-bottom: 10px
}

.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px
}

#parallax-maincontainer .slider {
    background: black;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden
}

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    margin: 0 auto
}

.cb-slideshow li img {
    height: 1100px;
    width: auto;
    min-width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    filter: grayscale(100%) opacity(.8);
    mix-blend-mode: multiply;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s
}

.slider .textoslider {
    z-index: 100;
    position: absolute;
    margin: auto;
    top: 35%;
    text-align: right;
    color: #fff;
    -webkit-animation: titleAnimation 15s ease-in-out 1 0s;
    -moz-animation: titleAnimation 15s ease-in-out 1 0s;
    -o-animation: titleAnimation 15s ease-in-out 1 0s;
    -ms-animation: titleAnimation 15s ease-in-out 1 0s;
    animation: titleAnimation 15s ease-in-out 1 0s
}

.slider .textoslider p {
    font-weight: 800;
    line-height: 1;
    z-index: 100
}

.slider .cb-slideshow li:nth-child(2) img {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s
}

.slider .cb-slideshow li:nth-child(3) img {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s
}

.slider .cb-slideshow li:nth-child(4) img {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s
}

.slider .cb-slideshow li:nth-child(5) img {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s
}

.no-cssanimations .cb-slideshow li span {
    opacity: 1
}

#parallax-maincontainer .block {
    background: white;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    padding: 2rem 0
}

.parallax__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: white;
    text-align: left;
    margin: 0;
    font-weight: 800
}

.parallax__title span {
    margin-left: 10px
}

#clients .contenido_parallax {
    display: inline-flex;
    justify-content: center;
    align-items: center
}

#clients .block {
    display: flex;
    justify-content: center;
    align-items: center
}

#clients .content__title {
    text-align: right
}

.grid {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

.grid li {
    text-align: center;
    margin: 1rem 0;
    text-align: center;
    position: relative
}

.grid img {
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    filter: grayscale(100%);
    opacity: .4;
    transition: all 1s ease
}

.grid img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition: all 1s ease
}

#keyplayers .block {
    height: auto;
    padding-bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center
}

#keyplayers .content__title {
    text-align: right
}

#keyplayers .contenido_parallax {
    display: inline-flex;
    justify-content: center;
    align-items: center
}

#keyplayers #contentimages {
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap
}

.imagekeyplayers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: center
}

#contentimages .player {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 10px
}

#contentimages .player .imagegray {
    filter: grayscale(0%);
    transition: all .5s ease-in-out;
    width: 100%;
    height: auto;
    margin-bottom: 1rem
}

#contentimages .player:hover .imagegray {
    filter: grayscale(100%);
    transition: all .5s ease-in-out
}

.imagekeyplayers .infoplayer {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center
}

.infoplayer .nameplayer {
    font-weight: 700;
    font-size: 14px
}

.infoplayer .charge {
    font-size: 12px
}

.imagekeyplayers .socialplayer {
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
    color: #585859
}

.imagekeyplayers .socialplayer img {
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    transition: all .5s ease-in-out;
    padding-top: 10px
}

.imagekeyplayers .socialplayer img:hover {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: all .5s ease-in-out
}

#parallax-maincontainer .parallax-one {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #ff5000
}

.contenido_parallax {
    position: relative;
    z-index: 50;
    margin: 0 auto
}

.content__title {
    line-height: 72px;
    text-align: left;
    width: 40%;
    color: white;
    position: relative;
    margin: 0;
    font-weight: 800
}

.content__title span {
    margin-left: 0
}

.listaservicios {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    position: relative;
    padding-top: 2rem
}

.listaservicios li {
    height: 150px
}

.listaservicios li:hover .itemscontent svg .st0 {
    fill: white
}

.listaservicios li:hover .itemscontent svg .st1 {
    fill: white
}

.listaservicios li:hover .nombreservicio {
    color: white
}

.itemscontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0
}

.nombreservicio {
    color: #585859;
    width: 100%;
    text-align: center;
    font-size: 14px
}

.itemscontent .icono {
    margin-bottom: 20px
}

#services .contenido_parallax {
    display: inline-flex;
    justify-content: center;
    align-items: center
}

#work {
    height: auto
}

#work .content__title {
    width: 20%;
    padding-left: 12.5%;
    margin-bottom: 70px
}

#parallax-maincontainer .parallax-two {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #585859;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

#paneles {
    width: 100%
}

.wrapper {
    display: flex;
    width: 100%
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: flex .4s ease;
    position: relative;
    flex-direction: column
}

.section a img {
    transform: translateX(-35%);
}

.section .content_wrapper {
    z-index: 2;
    position: absolute;
    width: 85%;
    background: transparent;
    height: auto;
    min-height: 120px;
    left: 1.5rem;
    transition: all 1s linear
}

.section a .content_wrapper {
    color: white;
    transition: color 0.5s linear;
}

.section a .content_wrapper:hover {
    color: #ff5000;
    transition: color 0.5s linear;
}

.nombreseccion {
    font-size: 12px
}

.titulo {
    font-size: 1.2rem;
    font-weight: 700
}

.section:hover {
    flex: 2
}

.section:hover img {
    opacity: .8
}

.section:hover .content_wrapper {
    bottom: 4rem;
    transition: all 1s linear
}

.content__inner {
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    flex-direction: column
}

footer {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 90;
    padding: 20px 0;
}

footer .creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50px
}

footer .block {
    background: transparent!important;
    padding: .5rem 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.copy {
    width: 100%;
    color: #585859;
    margin: 5px 0;
    text-align: center
}

.develop {
    width: 52%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center
}

.develop a {
    color: #585859
}

.develop img {
    margin-left: 1rem
}

.overlayinterior {
    background: black;
    width: 100%;
    height: 100%;
    opacity: .7;
    position: absolute;
    top: 0;
    z-index: 10
}

.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center
}

#equsport {
    background-image: url(../img/evento_equsport.jpg)
}

#kia {
    background-image: url(../img/evento_kia.jpg)
}

#summit {
    background-image: url(../img/evento_summit.jpg)
}

#tgp {
    background-image: url(../img/evento_taboola.jpg)
}

#tb {
    background-image: url(../img/evento_toryburch.jpg)
}

#toyota {
    background-image: url(../img/evento_toyota.jpg)
}

#kiaformulam {
    background-image: url(../img/experientialmkt_kiaformulam.jpg)
}

#longines {
    background-image: url(../img/experientialmkt_longines.jpg)
}

#mobil {
    background-image: url(../img/experientialmkt_mobil.jpg)
}

#natgeokids {
    background-image: url(../img/experientialmkt_natgeokids.jpg)
}

#bmwmini {
    background-image: url(../img/custom_bmwmini.jpg)
}

#minimotorrad {
    background-image: url(../img/custom_bmwminimotorrad.jpg)
}

#trainingcenter {
    background-image: url(../img/custom_bmwtrainingcenter.jpg)
}

#visitorcenter {
    background-image: url(../img/custom_bmwvisitorcenter.jpg)
}

#lgshowroom {
    background-image: url(../img/custom_lgshowroom.jpg)
}

#mars {
    background-image: url(../img/custom_natgeomars.jpg)
}

#miniso {
    background-image: url(../img/custom_minisoshowroomterraza.jpg)
}

#photoark {
    background-image: url(../img/custom_natgeophotoark.jpg)
}

#foxoficinas {
    background-image: url(../img/branding_foxoficinas.jpg);
    height: 83.5vh
}

#bd {
    background-image: url(../img/branding_foxoficinas.jpg);
}

#cm {
    background-image: url(../img/custom_bmwtrainingcenter.jpg)
}

#em {
    background-image: url(../img/experientialmkt_natgeokids.jpg);
}

#ev {
    background-image: url(../img/evento_taboola.jpg);
}

.border {
    position: absolute;
    z-index: 50;
    margin: auto
}

.banner a {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center
}

.banner:hover .overlayinterior {
    display: none
}

.banner:hover {
    filter: grayscale(0%)
}

.seccioninterior {
    padding: 0;
    margin: 0;
    color: #ff5000
}

.subtitulo {
    padding: 0;
    margin: 0;
    color: white
}

.section {
    background: transparent
}

.portada {
    min-height: 100vh;
    position: relative
}

#headerequsport {
    background: url(../img/header_equsport.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerkia {
    background: url(../img/header_kia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headersummit {
    background: url(../img/header_summit.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headertaboola {
    background: url(../img/header_taboola.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headertoryburch {
    background: url(../img/header_toryburch.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headertoyota {
    background: url(../img/header_toyota.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerformulam {
    background: url(../img/header_kiaformulam.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerlongines {
    background: url(../img/header_longines.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headermobil {
    background: url(../img/header_mobil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headernatgeokids {
    background: url(../img/header_natgeokids.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerbmwmini {
    background: url(../img/header_bmwmini.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerminimotorrad {
    background: url(../img/header_bmwminimotorrad.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headertrainingcenter {
    background: url(../img/header_bmwtrainingcenter.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headervisitorcenter {
    background: url(../img/header_bmwvisitorcenter.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerlgshowroom {
    background: url(../img/header_lgshowroom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headernatgeomars {
    background: url(../img/header_natgeomars.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerminisoshowroom {
    background: url(../img/header_minisoshowroom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headernatgeophotoark {
    background: url(../img/header_natgeophotoark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#headerfoxoficinas {
    background: url(../img/header_foxoficinas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.video {
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: auto;
    padding-bottom: 1.5rem
}

.contenido_texto {
    width: 100%;
    background: white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.contenido_texto .contenido_parallax {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column
}

.contenido_texto .seccioninterior {
    padding: 0;
    margin: 0;
    color: black
}

.contenido_texto .subtitulodos {
    padding: 0;
    margin: 0;
    color: black;
    padding-bottom: 1.5rem
}

.contenido_texto p {
    text-align: left;
    padding: 10px 0
}

.video .border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative
}

.galeria {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: auto
}

.items_galeria {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column
}

.items_galeria ul {
    width: 100%
}

.items_galeria ul li {
    position: relative
}

.items_galeria img {
    width: 100%;
    height: auto;
    margin: 2rem 0
}

.items_galeria .content_wrapper {
    width: 100%;
    background: rgba(0, 0, 0, .5);
    height: 100px;
    position: absolute;
    bottom: 2rem
}

.items_galeria .content_wrapper .nombreseccion {
    color: white;
    padding-left: 50px;
    padding-top: 20px
}

.items_galeria .content_wrapper .titulo {
    color: #ff5000;
    padding-left: 50px;
    padding-top: 5px
}

.galeria .subtitulodos {
    font-size: 36px;
    text-align: left;
    margin: 0
}

.enlaceback {
    background: white;
    height: 100px;
    width: 100%;
    display: block;
    position: relative
}

.enlaceback a {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center
}

.enlaceback p {
    font-size: 36px;
    font-weight: 800
}

hr {
    height: 1px;
    border: 0;
    background-color: #585859;
    width: 80%;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0
}

#contact .block {
    background: #585859
}

#contactform {
    justify-content: center;
    padding: 0!important;
    align-items: flex-start
}

.formulario {
    background: #585859;
    display: flex;
    align-items: center;
    position: relative
}

.formulario .contenido_parallax {
    margin: 0
}

.form {
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start
}

.entry {
    border: 1px solid white;
    transition: all 0.5s ease 0s;
    color: white;
    margin: 10px 0;
    background: transparent
}

.email {
    border-bottom: 1px solid white;
    height: 80px;
    width: 100%;
    padding-left: 10px
}

.message {
    border-bottom: 1px solid white;
    overflow: hidden;
    height: 172px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%
}

.submit {
    padding: 10px 0;
    color: white;
    background-color: #ff5000;
    border: none;
    margin-top: 50px;
    cursor: pointer
}

.submit:hover {
    color: #585859
}

.contacto {
    background: black;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.contacto img {
    position: relative;
    height: 100%;
    opacity: .3;
    filter: saturate(100%)
}

.contacto .datoscontacto li {
    margin: 10px 0
}

.contacto .datoscontacto .inline {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px
}

.contacto .datoscontacto .iconosocial {
    width: 20px;
    height: 20px;
    padding-right: 5px
}

.contacto .datoscontacto .iconosocial img {
    opacity: 1!important;
    width: 100%
}

.contacto .datoscontacto li:nth-last-child(1) {
    margin-top: 4.5rem
}

.contacto .datoscontacto p {
    padding: 0!important
}

.contacto .direccion {
    text-align: left
}

.contacto .datoscontacto a {
    color: #ff5000;
    transition: all 1s ease;
    font-weight: 400!important;
    font-size: 1rem!important;
    padding: 0!important
}

.contacto .datoscontacto a:hover {
    color: white;
    transition: all 1s ease
}

.contacto .datoscontacto a.telefono:hover {
    font-weight: 400!important
}

.contacto .datoscontacto {
    color: #ff5000;
    font-size: 1rem;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 90
}

.contacto .datoscontacto .social {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    height: 25px;
    margin: 1rem!important0;
    padding: 0;
    transition: none!important
}

.contacto .datoscontacto .redes a {
    width: 20px;
    height: 100%;
    padding-right: 20px!important
}

.contacto .datoscontacto .redes a img {
    height: 100%;
    width: auto;
    text-align: center;
    margin: 0 auto;
    filter: grayscale(100%) invert(100%) brightness(200%);
    opacity: 1
}

.contacto .datoscontacto .redes {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-left: 0
}

.contacto .datoscontacto a#facebook:hover {
    opacity: 1!important
}

.contacto .datoscontacto a#instagram:hover {
    opacity: 1!important
}

.contacto .datoscontacto a#linkedin:hover {
    opacity: 1!important
}

.contacto .datoscontacto a#vimeo:hover {
    opacity: 1!important
}

.contacto #map {
    text-align: center
}

.contacto #map a {
    color: white!important
}

.contacto #map:hover a {
    color: #585859!important
}

.modalCloseBtn {
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 1em;
    height: 1em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ff5000;
    display: flex;
    align-items: center;
    justify-content: center
}

.modalCloseBtn:hover {
    color: #585859
}

.modal__cont {
    max-height: 90%;
    overflow: hidden;
    text-align: center;
    background-color: white;
    transition: all .5s;
    position: relative;
    min-height: 530px
}

.modal__cont .parallax__title {
    padding: 2rem 3rem
}

#modalbox {
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center
}

#modalbox:target {
    visibility: visible;
    opacity: 1
}

.containerD {
    width: 800px;
    height: 250px;
    position: relative;
    margin: 2rem auto;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-around
}

.containerD .items {
    border-radius: 5px;
    cursor: pointer;
    width: 230px;
    height: 230px;
    margin: 0 auto
}

.containerD .image-wrapper,
.project-name {
    display: flex;
    align-items: center;
    justify-content: center
}

.containerD .image-wrapper {
    width: 100%;
    transition: all 0.6s;
    margin: 0 auto;
    border: 3px dotted #ff5000
}

.project-name {
    align-self: start
}

.project-name p {
    font-weight: 400;
    letter-spacing: 2px;
    color: #ff5000;
    transform: translateY(30px);
    transition: all 0.5s;
    text-transform: uppercase
}

.containerD .items:hover .image-wrapper {
    border: 3px solid white;
    transition: all 0.6s
}

.containerD .items:hover .project-name p {
    transform: translateY(10px);
    font-weight: 700
}

#modalconstruccion {
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center
}

#modalconstruccion:target {
    visibility: visible;
    opacity: 1
}

#modalconstruccion .parallax__title {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5rem 0
}

#modalconstruccion .containerD p {
    color: white;
    width: 50%;
    font-size: 20px;
    text-align: center
}

#modalcode {
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center
}

#modalcode:target {
    visibility: visible;
    opacity: 1
}

#modalcode .parallax__title {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5rem 0
}

#modalcode .containerD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center
}

#modalcode .containerD p {
    color: #585859;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding-bottom: 1rem
}

#modalcode .form {
    width: 80%
}

#modalcode .form input {
    width: 95%;
    padding: 20px 0;
    padding-left: 10px;
    margin-bottom: 2rem
}

.cookie-jar {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(255, 80, 0, 0.65);
    width: 100%;
    padding: 20px;
    color: #fff;
    font-size: 12px;
    z-index: 999;
    box-sizing: border-box;
    text-align: center;
}

.cookie-jar .cookie-jar-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.cookie-jar p {
    line-height: 1.5;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 5px;
}

.cookie-jar p a {
    font-weight: 800;
    text-decoration: underline;
    color: white;
}

.cookie-jar p a:hover {
    color: #dadada;
}

.cookie-jar .buttoncookie {
    background: #ff5000;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: 800;
    margin-top: 10px!important;
    width: 120px;
    margin: auto;
}

.cookie-jar .buttoncookie:hover {
    background: white;
    color: #585859;
}

.enlacePrivacidad {
    color: white;
    font-weight: 800;
    text-decoration: underline;
    transition: all 1s ease-in-out;
}

.enlacePrivacidad:hover {
    text-decoration: none;
    transition: all 1s ease-in-out;
}

#modalprivacidad {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalprivacidad:target {
    visibility: visible;
    opacity: 1;
}

#modalprivacidad .parallax__title {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 0;
    font-size: 36px;
}

#modalprivacidad .containerModal {
    width: 80%;
    margin: 2rem auto;
}

#modalprivacidad .containerD {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#modalprivacidad .containerD p {
    color: #585859;
    width: 100%;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}

#modalprivacidad .boldtitle {
    font-weight: 800;
    font-size: 18px;
}

#modalprivacidad .modal__cont {
    overflow: auto;
}

@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(90%)
    }
    50% {
        opacity: .5;
        -webkit-transform: translateX(90%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes blurFadeIn {
    0% {
        opacity: 0;
        -moz-transform: translateX(90%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%)
    }
}

@keyframes blurFadeIn {
    0% {
        opacity: 0;
        transform: translateX(90%)
    }
    50% {
        opacity: .5;
        transform: translateX(90%)
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -moz-animation-timing-function: ease-out
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -o-animation-timing-function: ease-out
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        -ms-animation-timing-function: ease-out
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%)
    }
    8% {
        opacity: 1;
        -webkit-transform: translateY(0%)
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0%)
    }
    19% {
        opacity: 1;
        -webkit-transform: translateY(0%)
    }
    25% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes titleAnimation {
    0% {
        opacity: 0;
        -moz-transform: translateY(100%)
    }
    8% {
        opacity: 1;
        -moz-transform: translateY(0%)
    }
    17% {
        opacity: 1;
        -moz-transform: translateY(0%)
    }
    19% {
        opacity: 1;
        -moz-transform: translateY(0%)
    }
    25% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes titleAnimation {
    0% {
        opacity: 0;
        -o-transform: translateY(100%)
    }
    8% {
        opacity: 1;
        -o-transform: translateY(0%)
    }
    17% {
        opacity: 1;
        -o-transform: translateY(0%)
    }
    19% {
        opacity: 1;
        -o-transform: translateY(0%)
    }
    25% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes titleAnimation {
    0% {
        opacity: 0;
        -ms-transform: translateY(100%)
    }
    8% {
        opacity: 1;
        -ms-transform: translateY(0%)
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0%)
    }
    19% {
        opacity: 1;
        -ms-transform: translateY(0%)
    }
    25% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }
    8% {
        opacity: 1;
        transform: translateY(0%)
    }
    17% {
        opacity: 1;
        transform: translateY(0%)
    }
    19% {
        opacity: 1;
        transform: translateY(0%)
    }
    25% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

.hidden {
    display: none!important
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent!important;
        color: #000!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    pre {
        white-space: pre-wrap!important
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}