@media screen and (min-width:17.5em) {
    .ancla::before {
        margin-top: 70px
    }
    .contenedor {
        display: inline-flex;
        flex-direction: row!important;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%
    }
    #logotipo {
        margin-left: 10%
    }
    .titledesk {
        display: none
    }
    .titulomobile {
        display: block
    }
    .menu-collapsed {
        right: 2.3rem
    }
    .menu-expanded {
        right: 0
    }
    .menu-collapsed a {
        font-size: 1.5rem;
        padding-left: 1rem
    }
    .menu-expanded {
        width: 90vw
    }
    .menu-expanded nav>.menu {
        padding-top: 55px
    }
    .menu-expanded a {
        font-size: 1.5rem;
        padding-left: 3rem
    }
    .menu-expanded .bar {
        top: 2rem;
        left: 10rem
    }
    .menu-collapsed .datoscontacto a {
        font-size: 14px
    }
    .menu-collapsed .datoscontacto p {
        font-size: 14px
    }
    .cb-slideshow li img {
        filter: grayscale(100%) opacity(.8);
        transform: translate(-30%, 0%)
    }
    .slider .textoslider {
        right: 2rem;
        width: 300px
    }
    .slider .textoslider p {
        font-size: 70px
    }
    #clients .contenido_parallax {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
    .parallax__title {
        font-size: 30px
    }
    .modal__cont .parallax__title {
        padding-top: 16px;
        padding-bottom: 50px;
        padding-left: 52px
    }
    .parallax__title:before {
        height: 80px
    }
    .grid {
        margin: 1rem auto
    }
    .grid li {
        width: 33%;
        height: 50px
    }
    .grid img {
        top: 0
    }
    #keyplayers .contenido_parallax {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column
    }
    #keyplayers #contentimages {
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    .imagekeyplayers {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: center
    }
    #contentimages .player {
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 1rem 5px;
        width: 45%
    }
    .imagekeyplayers .infoplayer {
        padding-bottom: 1rem
    }
    .contenido_parallax {
        width: 80%
    }
    .content__title {
        font-size: 60px;
        width: 100%;
        line-height: 60px
    }
    #services .contenido_parallax {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
    .listaservicios {
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap
    }
    .listaservicios li {
        width: 45%;
        border: 2px solid transparent;
        margin: 0
    }
    .itemscontent .icono {
        width: 60%;
        margin-bottom: 20px
    }
    #parallax-maincontainer .parallax-two {
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto
    }
    .parallax-two .content__title {
        margin: 1rem 0
    }
    .wrapper {
        height: auto;
        width: 100%;
        flex-direction: column
    }
    .section {
        height: auto;
        width: 100%
    }
    .section img {
        height: auto;
        width: 100%;
    }
    .section a img {
        transform: translateX(0%);
    }
    .section .content_wrapper {
        bottom: -3rem;
        left: 2.3rem
    }
    .content__inner {
        width: 80%
    }
    .content__inner>* + * {
        margin-top: 1rem
    }
    #contactform {
        display: flex;
        flex-direction: column
    }
    .formulario {
        width: 100%;
        height: auto;
        justify-content: center
    }
    .formulario .contenido_parallax {
        margin: 1rem 0
    }
    .form {
        width: 100%
    }
    .email {
        width: 95%
    }
    .message {
        width: 95%
    }
    .submit {
        width: 100%
    }
    .contacto {
        width: 100%;
        height: auto
    }
    .contacto .datoscontacto {
        width: 80%;
        padding-left: 2rem
    }
    .contacto .datoscontacto .social {
        justify-content: center
    }
    .contacto .datoscontacto .redes {
        justify-content: flex-start
    }
    .enlaceback p {
        font-size: 18px
    }
    .copy {
        font-size: 10px
    }
    .develop a {
        font-size: 10px
    }
    .develop img {
        width: 25%
    }
    .banner {
        min-height: 300px;
        background-attachment: scroll
    }
    .border {
        width: 80%
    }
    .seccioninterior {
        font-size: 2.5rem
    }
    .subtitulo {
        font-size: 1.1rem
    }
    .portada {
        background-attachment: scroll
    }
    .video {
        min-height: 20vh
    }
    .contenido_texto {
        padding: 1rem 0
    }
    .contenido_texto .seccioninterior {
        font-size: 2.5rem
    }
    .contenido_texto .subtitulodos {
        font-size: 1.1rem
    }
    .contenido_texto .contenido_parallax {
        width: 80%
    }
    .txt2 {
        font-size: 1rem
    }
    video {
        width: 100%;
        height: auto
    }
    .items_galeria {
        width: 80%
    }
    .items_galeria img {
        margin: 1rem 0
    }
    .items_galeria .content_wrapper {
        height: 80px;
        position: relative;
        bottom: 1rem;
        background: rgba(255, 255, 255, 1)
    }
    .items_galeria .content_wrapper .nombreseccion {
        padding-left: 0;
        color: #585859
    }
    .items_galeria .content_wrapper .titulo {
        padding-left: 0
    }
    .modal__cont {
        width: 80%;
        height: 80%
    }
    .containerD {
        width: 100%;
        height: 327px;
        display: flex;
        justify-content: center;
        flex-direction: column
    }
    .containerD .items {
        width: 50%;
        height: auto;
        margin-bottom: 3rem
    }
    .project-name p {
        font-size: 14px
    }
    #modalconstruccion .parallax__title {
        font-size: 1.3rem
    }
    #modalconstruccion .containerD p {
        width: 70%;
        margin: 0 auto
    }
    #modalcode .form input {
        width: 95%
    }
    #modalcode .form .submit {
        width: 100%
    }
    .cookies {
        width: 80%;
    }
    .cookies .btncookies {
        width: 50%;
    }
    #modalprivacidad .parallax__title {
        font-size: 1.3rem;
    }
    #modalprivacidad .containerD p {
        font-size: 14px!important;
    }
}

@media screen and (min-device-width:414px) and (-webkit-device-pixel-ratio:3) {
    .modal__cont .parallax__title {
        padding-top: 16px;
        padding-bottom: 75px;
        padding-left: 78px
    }
}

@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:2) {
    .modal__cont .parallax__title {
        padding-top: 16px;
        padding-bottom: 75px;
        padding-left: 78px
    }
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
    .modal__cont .parallax__title {
        padding-top: 16px;
        padding-bottom: 75px;
        padding-left: 78px
    }
}

@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:3) {
    .modal__cont .parallax__title {
        padding-top: 16px;
        padding-bottom: 75px;
        padding-left: 78px
    }
}

@media screen and (min-width:33.125em) {
    .ancla::before {
        margin-top: 20px
    }
    .contenedor {
        display: inline-flex;
        flex-direction: row!important;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%
    }
    #logotipo {
        margin-left: 10%
    }
    .titledesk {
        display: block
    }
    .titulomobile {
        display: none
    }
    .menu-collapsed {
        right: 5rem
    }
    .menu-expanded {
        right: 0
    }
    .menu-collapsed a {
        font-size: 2.5rem;
        padding-left: 4.3rem
    }
    .menu-expanded {
        width: 70vw
    }
    .menu-expanded nav>.menu {
        padding-top: 150px
    }
    .menu-expanded a {
        font-size: 2.5rem;
        padding-left: 4.3rem
    }
    .menu-expanded .bar {
        top: 6rem;
        left: 10rem
    }
    .menu-collapsed .datoscontacto a {
        font-size: 1rem
    }
    .menu-collapsed .datoscontacto p {
        font-size: 1rem
    }
    .cb-slideshow li img {
        filter: grayscale(100%) opacity(.6);
        transform: translate(-30%, 0%)
    }
    .slider .textoslider {
        right: 10%;
        width: 320px
    }
    .slider .textoslider p {
        font-size: 80px
    }
    #clients .contenido_parallax {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row
    }
    .parallax__title {
        font-size: 40px
    }
    .grid {
        margin: 1rem auto
    }
    .grid li {
        width: 20%;
        height: 60px
    }
    .grid img {
        top: -25px;
        width: 120%
    }
    #keyplayers #contentimages {
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    #keyplayers .contenido_parallax {
        display: inline- flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row
    }
    #keyplayers .content__title {
        text-align: right;
        width: 300px
    }
    .imagekeyplayers {
        display: inline-flex;
        flex-direction: row;
        width: 60%;
        height: auto;
        justify-content: center
    }
    #contentimages .player {
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 2rem 5px;
        width: 25%
    }
    .imagekeyplayers .infoplayer {
        padding-bottom: 1rem
    }
    #services .contenido_parallax {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row
    }
    .contenido_parallax {
        width: 80%
    }
    .content__title {
        font-size: 60px;
        width: 65%;
        line-height: 60px;
        padding-top: 45px
    }
    .listaservicios {
        width: 60%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    .listaservicios li {
        width: 40%;
        border: 2px solid transparent;
        margin: 0
    }
    .itemscontent .icono {
        width: 60%;
        margin-bottom: 20px
    }
    #parallax-maincontainer .parallax-two {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 80vh
    }
    .parallax-two .content__title {
        margin: 1rem 0
    }
    .wrapper {
        height: 70vh;
        width: 100%;
        flex-direction: initial
    }
    .section {
        height: 100%;
        width: initial
    }
    .section img {
        height: 100%;
        width: auto
    }
    .section a img {
        transform: translateX(-35%);
    }
    .section .content_wrapper {
        bottom: -23rem
    }
    .content__inner {
        width: 80%
    }
    .content__inner>* + * {
        margin-top: 1rem
    }
    #contactform {
        display: inline-flex;
        flex-direction: row
    }
    .formulario {
        width: 50%;
        height: auto;
        justify-content: center
    }
    .formulario .contenido_parallax {
        margin: 2rem 0
    }
    .form {
        width: 100%
    }
    .email {
        width: 93%
    }
    .message {
        width: 92%
    }
    .submit {
        width: 50%
    }
    .contacto {
        width: 50%;
        height: 662px
    }
    .contacto .datoscontacto {
        width: 60%;
        padding-left: 6rem;
        padding-top: 75px
    }
    .contacto .datoscontacto .inline {
        margin-bottom: 15px!important
    }
    .contacto .datoscontacto .social {
        justify-content: flex-start
    }
    .contacto .datoscontacto .redes {
        justify-content: flex-start
    }
    .enlaceback p {
        font-size: 36px
    }
    .copy {
        font-size: 10px
    }
    .develop a {
        font-size: 10px
    }
    .develop img {
        width: 35%
    }
    .banner {
        min-height: 300px;
        background-attachment: scroll
    }
    .border {
        width: 80%
    }
    .seccioninterior {
        font-size: 2.8rem
    }
    .subtitulo {
        font-size: 1.3rem
    }
    .portada {
        background-attachment: scroll
    }
    .video {
        min-height: 30vh
    }
    .contenido_texto {
        padding: 1rem 0
    }
    .contenido_texto .seccioninterior {
        font-size: 2.5rem
    }
    .contenido_texto .subtitulodos {
        font-size: 1.1rem
    }
    .contenido_texto .contenido_parallax {
        width: 80%
    }
    .txt2 {
        font-size: 1rem
    }
    video {
        width: 100%;
        height: auto
    }
    .items_galeria {
        width: 80%
    }
    .items_galeria img {
        margin: 1rem 0
    }
    .items_galeria .content_wrapper {
        height: 80px;
        position: relative;
        bottom: 1rem;
        background: rgba(255, 255, 255, 1)
    }
    .items_galeria .content_wrapper .nombreseccion {
        padding-left: 0;
        color: #585859
    }
    .items_galeria .content_wrapper .titulo {
        padding-left: 0
    }
    .modal__cont {
        width: 80%;
        height: auto
    }
    .modal__cont .parallax__title {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 11.5rem
    }
    .containerD {
        width: 100%;
        height: auto;
        display: inline-flex;
        justify-content: space-around;
        flex-direction: row
    }
    .containerD .items {
        width: 30%;
        height: auto;
        margin-bottom: 0
    }
    .project-name p {
        font-size: 16px
    }
    #modalconstruccion .parallax__title {
        font-size: 2.5rem
    }
    #modalconstruccion .containerD p {
        width: 50%;
        margin: 0 auto
    }
    #modalcode .form input {
        width: 97%
    }
    #modalcode .form .submit {
        width: 100%
    }
    .cookies {
        width: 81%;
    }
    .cookies .btncookies {
        width: 20%;
    }
    #modalprivacidad .parallax__title {
        font-size: 1.3rem;
    }
    #modalprivacidad .containerD p {
        font-size: 14px!important;
    }
}

@media screen and (min-width:60em) {
    .ancla::before {
        margin-top: 17px
    }
    .contenedor {
        display: inline-flex;
        flex-direction: row!important;
        justify-content: flex-start;
        align-items: flex-end;
        width: 83%
    }
    #logotipo {
        margin-left: 10%
    }
    .titledesk {
        display: block
    }
    .titulomobile {
        display: none
    }
    .menu-collapsed {
        right: 10rem
    }
    .menu-expanded {
        right: 0
    }
    .menu-collapsed a {
        font-size: 2rem;
        padding-left: 4.3rem
    }
    .menu-expanded {
        width: 40vw
    }
    .menu-expanded nav>.menu {
        padding-top: 120px
    }
    .menu-expanded a {
        font-size: 2rem;
        padding-left: 4.3rem
    }
    .menu-expanded .bar {
        top: 3rem;
        left: 10rem
    }
    .menu-collapsed .datoscontacto a {
        font-size: .8rem
    }
    .menu-collapsed .datoscontacto p {
        font-size: .8rem
    }
    .cb-slideshow li img {
        filter: grayscale(100%) opacity(.6);
        transform: translate(0%, 0%)
    }
    .slider .textoslider {
        right: 13%;
        width: 35%
    }
    .slider .textoslider p {
        font-size: 80px
    }
    .parallax__title {
        font-size: 40px
    }
    .grid {
        margin: 1rem auto
    }
    .grid li {
        width: 20%;
        height: 60px
    }
    .grid img {
        top: -30px;
        width: 100%
    }
    #keyplayers #contentimages {
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    .imagekeyplayers {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center
    }
    #contentimages .player {
        height: 320px;
        justify-content: center;
        align-items: center;
        margin: 1rem 5px;
        width: 22%
    }
    .imagekeyplayers .infoplayer {
        padding-bottom: 1rem
    }
    .contenido_parallax {
        width: 80%
    }
    .content__title {
        font-size: 60px
    }
    .listaservicios {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    .listaservicios li {
        width: 24%;
        border: 2px solid transparent;
        margin: 0
    }
    .itemscontent .icono {
        width: 57%;
        margin-bottom: 20px
    }
    #parallax-maincontainer .parallax-two {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 80vh
    }
    .parallax-two .content__title {
        margin: 1rem 0
    }
    .wrapper {
        height: 70vh;
        width: 100%;
        flex-direction: initial
    }
    .section {
        height: 100%;
        width: initial
    }
    .section img {
        height: 100%;
        width: auto
    }
    .section a img {
        transform: translateX(-35%);
    }
    .section .content_wrapper {
        bottom: -20rem
    }
    .content__inner {
        width: 80%
    }
    .content__inner>* + * {
        margin-top: 1rem
    }
    #contactform {
        display: flex;
        flex-direction: row
    }
    .formulario {
        width: 50%;
        height: auto;
        justify-content: flex-end
    }
    .formulario .contenido_parallax {
        margin: 2rem 0
    }
    .form {
        width: 80%
    }
    .email {
        width: 73%
    }
    .message {
        width: 72%
    }
    .submit {
        width: 50%
    }
    .contacto {
        width: 50%;
        height: 660px
    }
    .contacto .datoscontacto {
        width: 60%;
        padding-left: 6rem
    }
    .contacto .datoscontacto .social {
        justify-content: flex-start
    }
    .contacto .datoscontacto .redes {
        justify-content: flex-start
    }
    .enlaceback p {
        font-size: 36px
    }
    .copy {
        font-size: 10px
    }
    .develop a {
        font-size: 10px
    }
    .develop img {
        width: 35%
    }
    .banner {
        min-height: 400px;
        background-attachment: scroll
    }
    .border {
        width: 66.5%
    }
    .seccioninterior {
        font-size: 2.8rem
    }
    .subtitulo {
        font-size: 1.3rem
    }
    .portada {
        background-attachment: scroll
    }
    .video {
        min-height: 50vh
    }
    .contenido_texto {
        padding: 1rem 0
    }
    .contenido_texto .seccioninterior {
        font-size: 2.5rem
    }
    .contenido_texto .subtitulodos {
        font-size: 1.1rem
    }
    .contenido_texto .contenido_parallax {
        width: 66%
    }
    .txt2 {
        font-size: 1rem
    }
    video {
        width: 100%;
        height: auto
    }
    .items_galeria {
        width: 66%
    }
    .items_galeria img {
        margin: 1rem 0
    }
    .items_galeria .content_wrapper {
        height: 100px;
        position: absolute;
        bottom: 1rem;
        background: rgba(0, 0, 0, .5)
    }
    .items_galeria .content_wrapper .nombreseccion {
        padding-left: 50px;
        color: white
    }
    .items_galeria .content_wrapper .titulo {
        padding-left: 50px
    }
    .modal__cont {
        width: 60%;
        height: auto
    }
    .containerD {
        width: 100%;
        height: auto;
        display: inline-flex;
        justify-content: space-around;
        flex-direction: row
    }
    .containerD .items {
        width: 20%;
        height: auto;
        margin-bottom: 0
    }
    .project-name p {
        font-size: 18px
    }
    #modalconstruccion .parallax__title {
        font-size: 2.5rem
    }
    #modalconstruccion .containerD p {
        width: 80%;
        margin: 0 auto
    }
    #modalcode .form input {
        width: 97%
    }
    #modalcode .form .submit {
        width: 100%
    }
    .cookies {
        width: 90%;
    }
    .cookies .btncookies {
        width: 10%;
    }
    #modalprivacidad .parallax__title {
        font-size: 2.5rem;
    }
    #modalprivacidad .containerD p {
        font-size: 14px!important;
    }
}

@media screen and (min-width:80em) {
    .ancla::before {
        margin-top: 17px
    }
    .contenedor {
        display: inline-flex;
        flex-direction: row!important;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%
    }
    #logotipo {
        margin-left: 12.5%
    }
    .titledesk {
        display: block
    }
    .titulomobile {
        display: none
    }
    .menu-collapsed {
        right: 15rem
    }
    .menu-expanded {
        right: 0
    }
    .menu-collapsed a {
        font-size: 2.5rem;
        padding-left: 5.5rem
    }
    .menu-expanded {
        width: 40vw
    }
    .menu-expanded nav>.menu {
        padding-top: 73px
    }
    .menu-expanded a {
        font-size: 2.5rem;
        padding-left: 5.5rem
    }
    .menu-expanded .bar {
        top: 3rem;
        left: 10rem
    }
    .menu-collapsed .datoscontacto a {
        font-size: .8rem
    }
    .menu-collapsed .datoscontacto p {
        font-size: .8rem
    }
    .cb-slideshow li img {
        filter: grayscale(100%) opacity(.8);
        transform: translate(0, 0)
    }
    .slider .textoslider {
        right: 13%;
        width: 320px
    }
    .slider .textoslider p {
        font-size: 80px
    }
    #clients .contenido_parallax {
        display: inline-flex;
        justify-content: center;
        align-items: center
    }
    .parallax__title {
        font-size: 80px
    }
    .grid {
        margin: 2rem auto
    }
    .grid li {
        width: 20%;
        height: 60px
    }
    .grid img {
        top: -20px;
        width: 90%
    }
    #keyplayers .contenido_parallax {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row
    }
    #keyplayers #contentimages {
        flex-direction: row;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap
    }
    .imagekeyplayers {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        justify-content: center
    }
    #contentimages .player {
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 20%
    }
    .imagekeyplayers .infoplayer {
        padding-bottom: 0
    }
    .contenido_parallax {
        width: 75%
    }
    .content__title {
        font-size: 80px;
        width: 300px;
        line-height: 72px;
        margin-bottom: 65px;
        margin-top: 17px
    }
    #services .contenido_parallax {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: row
    }
    .listaservicios {
        width: 80%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    .listaservicios li {
        width: 130px;
        border: 1px solid transparent;
        margin: 5px 10px
    }
    .itemscontent .icono {
        width: 55%;
        margin-bottom: 20px
    }
    #parallax-maincontainer .parallax-two {
        padding-top: 0;
        padding-bottom: 70px;
        height: 100vh
    }
    .parallax-two .content__title {
        margin: 2rem 0
    }
    .wrapper {
        height: 80vh;
        width: 100%;
        flex-direction: initial
    }
    .section {
        height: 100%;
        width: initial
    }
    .section img {
        height: 100%;
        width: auto
    }
    .section a img {
        transform: translateX(-35%);
    }
    .section .content_wrapper {
        bottom: -23rem
    }
    .content__inner {
        width: 60%
    }
    .content__inner>* + * {
        margin-top: 1.5rem
    }
    #contactform {
        display: inline-flex;
        flex-direction: row
    }
    .formulario {
        width: 50%;
        height: 660px;
        justify-content: flex-end;
        margin-top: 20px
    }
    .formulario .contenido_parallax {
        margin: 2rem 0
    }
    .form {
        width: 80%
    }
    .email {
        width: 100%
    }
    .message {
        width: 100%
    }
    .submit {
        width: 50%
    }
    .contacto {
        width: 50%;
        height: 720px
    }
    .contacto .datoscontacto {
        width: 60%;
        padding-left: 6rem;
        padding-top: 148px
    }
    .contacto .datoscontacto .social {
        justify-content: flex-start
    }
    .contacto .datoscontacto .redes {
        justify-content: flex-start
    }
    .enlaceback p {
        font-size: 36px
    }
    .copy {
        font-size: 12px
    }
    .develop a {
        font-size: 10px
    }
    .develop img {
        width: 50%
    }
    .banner {
        min-height: 400px;
        background-attachment: fixed
    }
    .border {
        width: 75%
    }
    .seccioninterior {
        font-size: 3.5rem
    }
    .subtitulo {
        font-size: 1.3rem
    }
    .portada {
        background-attachment: fixed
    }
    .video {
        min-height: 70vh
    }
    .contenido_texto {
        padding: 2rem 0
    }
    .contenido_texto .seccioninterior {
        font-size: 3.5rem
    }
    .contenido_texto .subtitulodos {
        font-size: 1.3rem
    }
    .contenido_texto .contenido_parallax {
        width: 75%
    }
    .txt2 {
        font-size: 20px
    }
    video {
        width: 100%;
        height: auto
    }
    .items_galeria {
        width: 75%
    }
    .items_galeria img {
        margin: 2rem 0
    }
    .items_galeria .content_wrapper {
        height: 100px;
        position: absolute;
        bottom: 2rem;
        background: rgba(0, 0, 0, .5)
    }
    .items_galeria .content_wrapper .nombreseccion {
        padding-left: 50px;
        color: white
    }
    .items_galeria .content_wrapper .titulo {
        padding-left: 50px
    }
    .items_galeria h4 {
        margin: 0
    }
    .modal__cont {
        width: 60%;
        height: auto
    }
    .containerD {
        width: 100%;
        height: auto;
        display: inline-flex;
        justify-content: center;
        flex-direction: row
    }
    .containerD .items {
        width: 20%;
        height: auto;
        margin-bottom: 0
    }
    .project-name p {
        font-size: 18px
    }
    #modalconstruccion .parallax__title {
        font-size: 2.5rem
    }
    #modalconstruccion .containerD p {
        width: 50%;
        margin: 0 auto
    }
    #modalcode .form input {
        width: 98%
    }
    #modalcode .form .submit {
        width: 100%
    }
    .cookies {
        width: 80%;
    }
    .cookies .btncookies {
        width: 10%;
    }
    #modalprivacidad .parallax__title {
        font-size: 2.5rem;
    }
    #modalprivacidad .containerD p {
        font-size: 16px!important;
    }
}